.Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 1rem;
  width: 100%;
}

.Loading--progress {
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3 ease;
  transition: width 0.3 ease;
  width: 100%;
}

.Loading--progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

.Loading--progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1pt 1pt 1pt rgba(0, 0, 0, 1) inset;
}

.Loading--progress[value]::-webkit-progress-value {
  background: black;
}
